/program/compileWin.bat
/program/target/streams
/program/target/resolution-cache
/program/target/scala-2.11/classes
/program/project
/program/compileLog.txt
/program/target
/program/compile.txt
/filesDownloader/compileWin.bat
/filesDownloader/compile.txt
/filesDownloader/target
/filesDownloader/project
